
@charset "UTF-8";

$primaryLight:#3c8bf5;
$primaryColor:#308de5;
$primaryDark:#367ede;

$redColor:#f55;

$lightGrayColor:#eee;
$grayColor:#ddd;
$darkgrayColor:#c6c6c6;

$primaryFontColor:#666;

$bgColor:#f4f5f9;
$tableBg:#f5f9fc;
$sidebarActive:#e5f3ff;
